* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* Establece la fuente REM de 16px a 10px */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("images/fondo-huellitas.jpg");
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    background-color:rgb(192, 192, 192);
    align-items: center;
  }

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    width: 70%;
    min-width: 350px;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.logo-hu1{
    width: 20%;
    margin-bottom: 3rem;
}

.login-page, .signUp-page, .wall-page {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hu-1, .hu-2, .hu-3 {
    /* width: 50%;
    place-content: center; */
    margin: 10px;
    max-width: 428px;
    height: 100%;
    max-height: 926px;
    background-color: rgb(255, 255, 255, .8) ;
}

.page-1, .page-2, .page-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.icon-Google {
    width: 15px;
    height: 15px; 
    vertical-align: middle;
    margin-right: 5px;
}

.iconPaw, .iconHouse, .iconEllipsis, .iconHeart, .iconMessage, .iconGear {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-color: orange;
    background-color: white;
}

i {
   font-size: 2rem;
   color: orange;
}

.nickname, .dateBorn, .passwordVerified, .registerGoogle,
.email, .password, .startGoogle, h3 {
    margin-bottom: 3rem;
}

.nickname, .dateBorn, .passwordVerified, .email, .password, .commentDescription {
    padding: 12px;
    border-radius: 7px;
    border-width: 1px;
    width: 70%;
    background-color: white;
    font-size: 1.4rem;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

::placeholder {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.4rem;
    text-align: center;
    min-width: 350px;
}

.go-pageRegister {
    cursor: pointer;
}

.registerGoogle, .acept, .startGoogle, .startSesion, .return, .send  {
    padding: 12px;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 20px;
    border-width: 1px;
    cursor: pointer;
}

.registerGoogle, .nickname, .startGoogle {
    margin-top: 2.5rem;
}

.cat-hu2, .puppy-hu1 {
    display: none;
}

.post {
    width: 100%;
    padding: 10px 0px;
}

.headerHu3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerHu3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.iconEllipsis {
    position: relative;
    left: 145px;
}

p {
    font-size: 9pt;
}

.iconSet {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

a {
    font-weight: bold;
}

.comment {
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
}
.containerComment {
    margin: 20px 0px;
    border: 1px solid orange;
    border-radius: 10px;
    overflow: hidden;
}

.miniheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: orange;
    width: 300px;
    height: 60px;
    padding: 10px 10px;
}

.icon-profile {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%; 
}

.icon-profile img {
    width: auto;
    height: 100%;
    margin-left: -15px;
}

.user {
    position: relative;
    left: 10px;
    color: white;
}

.textcoment {
    margin: 10px 10px;
}

.containerBtn {
    display: flex;
    justify-content: end;
    margin: 0px 10px 10px 0px;
}

.btn-delete, .btn-edit  {
    border: none;
    outline:none;
    background: none;
    margin: 5px;
 /* padding: 8px; */
    font-size: 1.6rem;
    font-weight: bold;
    color: orange;
 /* border-radius: 20px;
    border-width: 1px; */
    cursor: pointer;
}

@media (min-width: 768px) {
    body, .startSesion, .acept, .return {
         /*display: flex;
         align-items: center;*/
    }

    .img-hu1, .img-hu2 {
        display: block;
        width: 100%;
        max-width: 400px;
        margin: 10%;
    }

    .puppy-hu1, .cat-hu2 {
        display: block;
        max-width: 100%;
        height: auto;
    }
}